
build/android-profile/profile-2017-05-29-11-44-42-969.rawproto
build/android-profile/profile-2017-05-29-11-44-49-527.rawproto
build/android-profile/profile-2017-05-29-11-46-59-634.rawproto
build/android-profile/profile-2017-05-29-11-52-40-613.rawproto
build/android-profile/profile-2017-05-29-11-47-07-289.rawproto
build/android-profile/profile-2017-05-29-11-53-52-286.rawproto
build/android-profile/profile-2017-05-29-11-54-52-845.rawproto
build/android-profile/profile-2017-05-29-11-57-19-084.rawproto
build/android-profile/profile-2017-05-29-11-56-25-603.rawproto
queRico.iml
local.properties
build/kotlin-build/caches/artifact-difference.tab_i.len
build/kotlin-build/caches/artifact-difference.tab.keystream.len
build/kotlin-build/caches/artifact-difference.tab.len
build/kotlin-build/caches/artifact-difference.tab.values.at
build/kotlin-build/caches/artifact-difference.tab.keystream
build/kotlin-build/caches/artifact-difference.tab
build/intermediates/dex-cache/cache.xml
build/generated/mockable-android-25.jar
build/kotlin-build/caches/version.txt
gradle/wrapper/gradle-wrapper.properties
.gradle/3.3/taskArtifacts/fileHashes.bin
.gradle/3.3/taskArtifacts/fileSnapshots.bin
.gradle/3.3/taskArtifacts/taskArtifacts.bin
.gradle/3.3/taskArtifacts/taskArtifacts.lock
.idea/compiler.xml
.idea/gradle.xml
.idea/copyright/profiles_settings.xml
.idea/libraries/android_android_25.xml
gradle/wrapper/gradle-wrapper.properties
captures/oscar.com.eater_2017.05.30_22.11.li
build/kotlin-build/caches/artifact-difference.tab_i
gradle/wrapper/gradle-wrapper.properties
build/android-profile/profile-2017-05-30-22-39-05-809.rawproto
build/android-profile/profile-2017-05-30-22-33-08-786.rawproto
build/android-profile/profile-2017-05-30-22-34-19-137.rawproto
build/android-profile/profile-2017-05-30-22-30-38-045.rawproto
build/android-profile/profile-2017-05-30-22-31-27-036.rawproto
build/android-profile/profile-2017-05-30-22-28-43-925.rawproto
*.rawproto
*.properties
*.properties
gradle.properties
gradle/wrapper/gradle-wrapper.properties
.idea/libraries/animated_vector_drawable_25_1_0.xml
.idea/libraries/annotations_13_0.xml
.idea/libraries/appcompat_v7_25_1_0.xml
.idea/libraries/dagger_2_9.xml
.idea/libraries/espresso_idling_resource_2_2_2.xml
.idea/libraries/gson_1_7_2.xml
.idea/libraries/hamcrest_core_1_3.xml
.idea/libraries/hamcrest_library_1_3.xml
.idea/libraries/javawriter_2_1_1.xml
.idea/libraries/javax_annotation_10_0_b28.xml
.idea/libraries/javax_annotation_api_1_2.xml
.idea/libraries/javax_inject_1.xml
.idea/libraries/jsr250_api_1_0.xml
.idea/libraries/junit_4_12.xml
.idea/libraries/kotlin_stdlib_1_1_2_4.xml
.idea/libraries/okhttp_3_6_0.xml
.idea/vcs.xml
.idea/libraries/cardview_v7_25_3_1.xml
.idea/libraries/exposed_instrumentation_api_publish_0_5.xml
.idea/libraries/espresso_core_2_2_2.xml
.idea/libraries/reactive_streams_1_0_0.xml
.idea/libraries/rules_0_5.xml
.idea/libraries/runner_0_5.xml
.idea/libraries/rxandroid_2_0_1.xml
.idea/libraries/recyclerview_v7_25_1_0.xml
.idea/libraries/rxjava_2_0_1.xml
.idea/libraries/support_annotations_25_3_1.xml
.idea/libraries/okio_1_11_0.xml
.idea/libraries/kotlin_stdlib_jre7_1_1_2_4.xml
.idea/libraries/jsr305_2_0_1.xml
.idea/libraries/hamcrest_integration_1_3.xml
.idea/libraries/support_compat_25_1_0.xml
.idea/libraries/support_core_ui_25_1_0.xml
.idea/libraries/support_core_utils_25_1_0.xml
.idea/libraries/support_fragment_25_1_0.xml
.idea/libraries/support_media_compat_25_1_0.xml
.idea/libraries/support_v4_25_1_0.xml
.idea/libraries/support_vector_drawable_25_1_0.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/workspace.xml
app/app.iml
gradle.properties
gradle/wrapper/gradle-wrapper.properties
